<nav class="">
<ul id="main-menu" data-nav-showing="false">
  <!-- <li class="nav-jr home-anc"><h4><a href="#home"><br></a></h4></li> -->
  {% assign current = page.url | downcase | split: '/' %}
  <div class="flexbox-parent" style="display: flex; flex-wrap: wrap">
      <li class="about-anc" style="display: inline">
        <a class="nav-underline home {% if page.url == '/' %}current{% endif %}" href="https://aminx.me">Home</a>
      </li>
      <li style="display: inline">
        <a class="nav-underline blog {% if page.url == '/blog/' %}current{% endif %}" href="https://aminx.me/blog">Blog</a>
      </li>
      <li class="about-anc" style="display: inline">
        <a class="nav-underline about {% if page.url == '/about/' %}current{% endif %}" href="https://aminx.me/about">About</a>
      </li>
      <!-- <li class="beliefs-anc" style="display: inline">
        <a class="nav-underline open-source {% if page.url == '/projects/' %}current{% endif %}" href="https://aminx.me/projects">Projects & Open Source</a>
      </li> -->
      <li>
        {% if site.show_social_icons %}
        {% include social_links.html %}
        {% endif %}
      </li>
  </div>
</ul>
</nav>
